{{yield}}
{{#paper-toolbar as |toolbar|}}
   {{#toolbar.tools}}
     {{#paper-button}}
       Go Back
     {{/paper-button}}
     <h2 class="nav-font">Ember Launchpad</h2>
     <span class="flex"></span>
   {{/toolbar.tools}}
 {{/paper-toolbar}}
