<br>
<button {{action 'playSound' url="sparta.mp3"}}> Click mey </button>
<br>

<div class="column">
  <div class="row">
    <div class="single-pad pad-content">
      1
    </div>
    <div class="single-pad pad-content">
      2
    </div>
    <div class="single-pad pad-content">
      3
    </div>
  </div>
</div>

<div class="column">
  <div class="row">
    <div class="single-pad pad-content">
      4
    </div>
    <div class="single-pad pad-content">
      5
    </div>
    <div class="single-pad pad-content">
      6
    </div>
  </div>
</div>

<div class="column">
  <div class="row">
    <div class="single-pad pad-content">
      7
    </div>
    <div class="single-pad pad-content">
      8
    </div>
    <div class="single-pad pad-content">
      9
    </div>
  </div>
</div>
